
.navbar {
    background-color: cornflowerblue;
    border-bottom: .25rem solid white;
}
.contain-fluid {
    width: 100vw ;
}
.navbar-toggler{
background-color: white !important; 
color: white!important;
}
.collapse {
    color: white;
}
/* start of header section */
.dean {
    border: .5rem solid gold;
}
.contain-1 {
    background-image: url("./images/Clouds\ \(2\).png");
    background-repeat: repeat;
    background-size: contain;
}
/* card section */
.list {
    font-family: 'Gravitas One', cursive;
    color: gold;
    -webkit-text-stroke:1px black;
                                                
}
.img-fluid {
    border-bottom: .25rem solid white;
}
.card {
    border: .25rem solid gold;
}
.cardi-b {
    padding: .25em;
} 
h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}
/* section 2 */
.section-2 {
    background-image: url("./images/Clouds.png");
    background-repeat: repeat;
    background-size: contain;
    
}
.closing-info {
    font-weight: 700;
    font-family: 'Gravitas One',;
    color: black;
    -webkit-text-stroke: 1px gold;
}
.casa {
    border: .25em solid gold;
}
/* footer */
footer {
    background-color: cornflowerblue;
}
.fa-brands {
    color: gold;
}
h4 {
    color: gold;
}

