* {
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: black;
    border-bottom: .25rem solid white;
}
.navbar-toggler{
background-color: white !important; 
color: white !important;
}
.collapse {
    color: white;
}

