
.navbar {
    background-color: black;
    border-bottom: .25em solid white;
}
.navbar-toggler{
background-color: white !important; 
color: white !important;
}
.collapse {
    color: white;
}
/*contact  */
.contact {
    background-image: url("./images/et-et-the-extra-terrestrial.gif");
    background-repeat: no-repeat;
    background-size: cover;
}
.form-box {
    max-width: 500px;
    margin: auto;
    padding: 50px;
    background: rgba(0, 0, 0, .9)
    border: .5em solid black;
  }

  
  h1, h2, p {
    text-align: center;
    color: gold;
    -webkit-text-stroke: 1px black;
  }
  h1 {
    font-size: 5em;
  }
  
  input, textarea {
    width: 100%;
  }
.footer {
    border-top: .25rem solid white;
    background-color: black;
}

