
.navbar {
    background-color: black;
    border-bottom: .25rem solid white;
}
.contain-fluid {
    width: 100vw;
}
.navbar-toggler{
background-color: white !important; 
color: white !important;
}
.collapse {
    color: white;
}

.jumbo {
    background-image: url("./images/pexels-felix-mittermeier-956981\ \(1\).jpg");
    background-repeat: no-repeat;
    background-size: cover;
} .et {
    width: 40vw;
}
.et {
    border: .25em solid white;
    height: 34em;
}
h1 {
    font-family: 'Gravitas One', cursive;
}

.carp {
    display: inset-inline;
    font-family: 'Acme', sans-serif;
    color: gold;
    -webkit-text-stroke:3px black;
    margin-bottom: 5%;
} 
.opening {
    border-top: .25rem solid white;
    /* width: 100vw; */
}
.myself {
    font-family: 'Gravitas One', cursive;
    color: white;
}
/* start of section */
.section-2 {
    margin-top: -17px;
}
.examp {
    font-family: 'Shrikhand', cursive;
    margin-top: 20px;
    font-size: 40px;
    color: white;
    -webkit-text-stroke:3px black;
}
.button-1 {
    border: .25rem solid white;
}
/* footer */
.footer {
    border-top: .25rem solid white;
}
















/* breakpoints */
 /* Small devices (landscape phones, 375px and up) */
  @media only screen and (min-width: 375px) {
   
    
   
  
  }
  
   /* Medium devices (tablets, 750px and up) */
  @media only screen and (min-width: 750px) {
   
   
  
  }
  
   /* Large devices (desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    
   

  
  }
  
   /* X-Large devices (large desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
   
    

  
  }
  
   /* XX-Large devices (larger desktops, 1400px and up) */
  @media only screen and (min-width: 1400px) {
   
  }




