
.navbar {
    background-color: black;
    border-bottom: .25rem solid white;
}
.contain-fluid {
    width: 100vw;
}
.navbar .navbar-nav .nav-link:hover{
    background-color: midnightblue;
}
.navbar-toggler{
background-color: white !important; 
color: white !important;
}
.collapse {
    color: white;
}
/* jumpotron */
.jumbo {
    background-image: url("./images/icegif-1534.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0,0 ,0.1 )
} .et {
    width: 40vw;
}
.et {
    border: .25em solid white;
    height: 34em;
}
/* section */
.sect-1 {
    border-style: double;
    background-image:url("./images/moonback.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.moon {
    background-size: cover;
    background-repeat: no-repeat;
}
.container-2 {
    padding: 2em;
}
h1 {
    font-family: 'Gravitas One', cursive;
    color: black;
    -webkit-text-stroke:1px white;
    padding-left: 2em;
    padding-right: 2em;
}
.carp {
    display: inset-inline;
    font-family: 'Acme', sans-serif;
    color: gold;
    -webkit-text-stroke:3px black;
    margin-bottom: 5%;
} 
.opening {
    border-top: .25rem solid white;
}
.myself {
    font-size: inherit;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 1.25em;
    color: white;
    -webkit-text-stroke:.5px black;

}
/* start of section */
.section-2 {
    margin-top: -17px;
}
.examp {
    font-family: 'Shrikhand', cursive;
    margin-top: 20px;
    font-size: 40px;
    color: white;
    -webkit-text-stroke:3px black;
}
.button-1 {
    border: .25rem solid white;
    background-color: darkblue;
}
/* footer */
.footer {
    border-top: .25rem solid white;
    background-color: black;
}
















/* breakpoints */
 /* Small devices (landscape phones, 276px and up) */
  @media only screen and (min-width: 276px) and (max-width:665px) {
   {
        
    }
   
    
   
  
  }
  
   /* Medium devices (tablets, 750px and up) */
  @media only screen and (min-width: 750px) {
   
   
  
  }
  
   /* Large devices (desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    
   

  
  }
  
   /* X-Large devices (large desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
   
    

  
  }
  
   /* XX-Large devices (larger desktops, 1400px and up) */
  @media only screen and (min-width: 1400px) {
   
  }




